.my-menu {
    background: #fff;
    border: 2px solid #DDE4E8;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 4px 0;
    font-size: 12px;
}

.my-menuitem {
    list-style: none;
    margin: 0;
    padding: 4px;
    white-space: nowrap;
    border: 2px solid white;
    border-right: none;
}

.my-submenu.my-menuitem-highlight {
    position: relative;
    z-index: 10000;
    border-color: #ff4444;
    background-color: white;
}

.my-menu .my-separator {
    border-top: 1px solid #E6E6E6;
}

.my-submenu .my-submenu-content {
    display: block;
    padding-right: 12px;
    background: url("http://img01.taobaocdn.com/tps/i1/T1vrCkXeFFXXXXXXXX-100-800.png") no-repeat scroll -34px -48px transparent;
}

.my-submenu-arrow {
    display: none;
}

.my-popupmenu {
    border-color: #ff4444;
    position: absolute;
    left: -999px;
    top:-999px;
}

.my-popupmenu .my-menuitem {
    border: none;
}

.my-menuitem-hover {
    background-color: yellow;
}

.img-context-menu a {
    color: #666;
    text-decoration: none;
}

.img-context-menu {
    border: 1px solid #f0f0f0;
}

.img-context-menu .my-menuitem {
    padding: 2px 6px;
    padding-left: 12px;
}

.img-context-menu .my-submenu {
    background: none;
}

.img-context-menu .my-menuitem-hover {
    border-color: #99ccff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #cee3ed;
    background-image: -moz-linear-gradient(-90deg, #f1fafe, #cbe6f1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1fafe), color-stop(1, #cbe6f1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#f1fafe', EndColorStr = '#cbe6f1');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1fafe', EndColorStr='#cbe6f1')";
}

.img-context-menu {
    background-color: #f0f0f0;
    border: 1px solid #959595;
    -moz-box-shadow: 2px 2px 4px #555;
    -webkit-box-shadow: 2px 2px 4px #555;
    box-shadow: 2px 2px 4px #555;
}

.img-context-menu .my-menuitem-content {
    display: block;
}

.my-popupmenu-shown{
    visibility: visible;
}

.my-popupmenu-hidden{
    visibility: hidden;
}