body{
    padding:10px;
}
    .container {
        height: 270px;
        padding: 10px;
        position: relative;
    }
    
    .component {
        margin: 10px 10px;
        width: 90px;
        height: 90px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        overflow: hidden;
        line-height:20px;
    }
    
    .cheader {
        cursor: move;
        border: 1px solid black;
        height: 20px;
        line-height: 20px;
    }

    #drop, #drop3 {
        height: 100px;
        line-height: 30px;
      
    }
    
    .box .ks-dd{
        background:white;
        opacity:1;
        *filter:alpha(opacity=100);
    }
    .box .ks-dd-drag-over {
        background: #a52a2a;
    }

    .box .ks-dd-drop-over {
        background: #fa8072;
        opacity:0.6;
        *filter:alpha(opacity=60);
    }

    #container3 .component .cheader {
        cursor: move;
    }
    
