            #demo2 {
                position: relative;
                width: 750px;
                padding-top: 29px;
                left:10px;
            }

            #demo2 .ks-switchable-nav {
                position: absolute;
                left: 20px;
                margin-top: -29px;
                z-index: 99;
            }

            #demo2 .ks-switchable-nav li {
                float: left;
                width: 130px;
                height: 27px;
                line-height: 21px;
                text-align: center;
                background: url(tabs-sprite.gif) no-repeat 0 6px;
                margin-right: 3px;
                padding-top: 8px;
                cursor: pointer;
            }

            #demo2 .ks-switchable-nav li.ks-active {
                background-position: 0 -40px;
                cursor: default;
            }

            #demo2 .ks-switchable-content {
                position: relative;
                height: 120px;
                padding: 20px;
                border: 1px solid #AEC7E5;
            }