		/* = index
		----------------------------------------------------------------------------------*/

		/* Modules:= 页面布局 {{{ */
	
			body {
				font-family:'Microsoft YaHei';
			}
		

			#page{
				width:98%;
				margin-left: auto;
				margin-right: auto;
			}
				
			#header, #content, #footer {
				margin:0 10px;
			}



			#footer {
				margin:20px 0 50px 0;
				padding-top:25px;10
 				text-align:center;
				border-top:1px solid #DFDFDF;
			}
			
			#header {height:100px;}
			#header .logo{float:left;margin:20px 0 0 0;padding:0;border:none;}
			#header .sub-title{float:left;margin:45px 5px 0 5px;font:25px "Microsoft YaHei";color:#aaa;}
			#header .desc{float:left;margin-top:55px;margin-left:5px;font-size:15px;color:#80c269;font-weight:bold;font-family: "Microsoft YaHei";}
			#header  .navigation {float:right;margin:55px 0 0 0;overflow:hidden;list-style:none;}
			#header  .navigation li {float:left;margin-left:-1px;padding: 0 10px 0 25px;line-height:1em;border-left:1px solid #ddd;}
						

			.grid-index {padding:10px 0;}
			.grid-index .main-wrap { margin-left: 218px;}
			.grid-index .col-sub { width: 198px; margin-left: -100%;min-height:600px;}
			

			.grid-index .col-sub{
				border-width:1px;
				border-color:#A4D3F2;
				border-style:solid;
				background-color:#F2F8FA;
			}
			
			
			a:link, a:visited{
				color:#36c;
			}
			a:hover{
				color:#36c;
			}
	
		/* }}} */



	/* Modules:= 公共 {{{ */

		.tabs{
			height:26px;
			padding-left:10px;
			border-bottom:1px solid #B2D1FF;
		}
		.tabs li{
			float:left;
			height:24px;
			padding:0 20px;
			margin:1px 3px 0 0;
			background-color:#E6F0FF;
			border-style:solid;
			border-width:1px 1px 0;
			border-color:#B2D1FF;
			border-radius:3px 3px 0 0;
		}
		.tabs li a{
			display:block;
			line-height:24px;
			color:#000;
		}
		.tabs li.ks-active{
			height:25px;
			background-color:#fff;
		}
		
		
	/* }}} */

		
		
		/* Modules:= 页面布局 {{{ */

			.nav{
				margin:20px 10px;
			}
			.nav li{
				margin:10px 0 0px 20px;
			}
			.nav li a{
				color:#00A0E9;
				font-weight:bold;
			}
			.nav li p{
				color:#aaa;
			}
			.nav li p:before{
				content:">";
			}
		/* }}} */
		
		
		

		
	/* Modules:= 模块列表 {{{ */
		dl.list {
			margin-bottom:30px;
		}
		dl.list dt{
			font-size:16px;
			padding-left:10px;
			font-weight:bold;
			color:#000;
			line-height:30px;
			background:#F2F8FA;
		}
		dl.list dd{
			padding:5px 0 0 10px;
		}
		dl.list dd label{
			font-weight:bold;
		}
		dl.list dt a{
			color:#000;
		}
		dl.list dd.img{
			float:right;
			padding:10px;
		}
		dl.list dd.img img{
			width:90px;
		}
		dl.list dd.url{
			margin-top:5px;
		}
		dl.list dd.intro{
			margin-bottom:5px;
		}
	/* Modules:= 公共 {{{ */
		
		
		