    body{
        padding:5px;
    }
    .tiny-slide-wrap {
        overflow: hidden;
        width: 274px;
        height: 143px;
    }

    .tiny-slide-wrap .ks-switchable-nav {
        display: none;
    }

    .tiny-slide-wrap .tiny-hd {
        height: 26px; /*width:298px;*/
        background: url('http://a.tbcdn.cn/p/fp/2011a/assets/sprites.gif') -143px -203px no-repeat;
        position: relative;
    }

    .tiny-slide-wrap .tiny-hd .sk-title {
        display: block;
        width: 65px;
        height: 27px;
        top: 0;
        left: 0;
        position: absolute;
    }

    .tiny-slide-wrap .tiny-hd .sk-title img {
        width: 100%;
        height: 100%;
    }

    .tiny-slide-wrap .tiny-hd h3 {
        color: #999999;
        font-size: 12px;
        padding-left: 70px;
        padding-top: 8px;
        font-weight: normal;
    }

    .tiny-slide-wrap .tiny-hd .txt-indicator {
        position: absolute;
    }

    .tiny-slide-wrap .tiny-hd .tiny-prev {
        background: url('http://a.tbcdn.cn/p/fp/2011a/assets/sprites.gif') -165px -110px no-repeat;
        display: block;
        height: 14px;
        overflow: hidden;
        position: absolute;
        right: 14px;
        top: 10px;
        width: 16px;
    }

    .tiny-slide-wrap .tiny-hd .tiny-prev:hover {
        background-position: -165px -124px;
    }

    .tiny-slide-wrap .tiny-hd .tiny-next {
        background: url('http://a.tbcdn.cn/p/fp/2011a/assets/sprites.gif') -180px -110px no-repeat;
        display: block;
        height: 14px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 10px;
        width: 16px;
    }

    .tiny-slide-wrap .tiny-hd .tiny-next:hover {
        background-position: -180px -124px;
    }

    .tiny-slide-wrap .tiny-hd .txt-indicator {
        font-weight: bold;
        position: absolute;
        font-size: 11px;
        color: #666666;
        top: 9px;
        right: 40px;
    }

    .tiny-slide-wrap .tiny-hd .txt-indicator em {
        color: #ff6600;
    }

    .tiny-slide-wrap .tiny-slide-content {
        width: 100%;
        height: 117px;
        overflow: hidden;
    }

    .tiny-slide-wrap .tiny-slide-content .tiny-item {
        position: relative;
        width: 274px;
        float: left;
        padding-top: 10px;
    }

    .tiny-slide-wrap .tiny-slide-content .tiny-pic {
        display: block;
        width: 122px;
        height: 100px;
        position: absolute;
        top: 10px;
        left: 5px;
    }

    .tiny-slide-wrap .tiny-slide-content p {
        padding-left: 147px;
        height: 12px;
        margin-bottom: 9px;
        _margin-bottom: 3px;
    }

    .tiny-slide-wrap .tiny-slide-content .full {
        padding-top: 4px;
    }

    .tiny-slide-wrap .tiny-slide-content .des {
        color: #3e3e3e;
        padding-top: 15px;
    }

    .tiny-slide-wrap .tiny-slide-content .price {
        color: #999999;
    }

    .tiny-slide-wrap .tiny-slide-content .link {
        color: #ff6600;
        font-weight: bold;
    }

    .tiny-slide-wrap .tiny-slide-content .btn {
        display: block;
        width: 78px;
        height: 22px;
        background: url('http://a.tbcdn.cn/p/fp/2011a/assets/sprites.gif') -197px -110px no-repeat;
    }

    .tiny-slide-wrap .tiny-slide-content .btn:hover {
        background-position: -275px -110px;
    }