body{
    padding:10px;
}
     .container {
        height: 380px;
        padding: 10px;
        position: relative;
    }
    
    .component {
        margin: 10px 10px;
        width: 90px;
        height: 90px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        overflow: hidden;
        line-height:20px;
    }
    
    .cheader {
        cursor: move;
        border: 1px solid black;
        height: 20px;
        line-height: 20px;
    }

    #drop, #drop3 {
        height: 100px;
        line-height: 30px;
      
    }
    
    .box .ks-dd{
        background:white;
    }
    .box .ks-dd-drag-over {
        background: #FD9F99;
    }

    .box .ks-dd-drop-over {
        background: #FD9F99;
    }

    #container3 .component .cheader {
        cursor: move;
    }
    
    #add_delegate{
        margin:5px 5px 10px 20px;
    }