body{
    padding:10px;
}
      .container {
        border: 1px solid #366EBE;
        height: 200px;
        padding: 10px;
        position: relative;
        overflow: auto;
    }

    .component {
        margin: 10px 10px;
        width: 100px;
        height: 100px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        overflow: hidden;
    }

    .cheader {
        cursor: move;
        border: 1px solid black;
        height: 20px;
        line-height: 20px;
    }

    .component .cheader {
        cursor: move;
    }

    .ks-dd-dragging * {
        visibility: hidden;
    }

    .ks-dd-dragging {
        border: 2px #4886DE dashed;
    }