<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>KISSY - A Powerful JavaScript Framework</title>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script src="/1.4/source/guideline/templates/assets/jquery.min.js"></script>
    <script src="/1.4/source/guideline/templates/assets/script.js"></script>
    <link rel="stylesheet" href="/1.4/source/guideline/templates/assets/bootstrap.css">
    <link rel="stylesheet" href="/1.4/source/guideline/templates/assets/normalize.css">
    <link rel="stylesheet" href="/1.4/source/guideline/templates/assets/kissy.css">
    <link rel="stylesheet" href="/1.4/source/guideline/templates/assets/prettify.css">
    <link rel="stylesheet" href="/1.4/source/guideline/templates/assets/forkit.css">
    <script src="/1.4/source/guideline/api/assets/highlight.pack.js"></script>
    <link href="/1.4/source/guideline/api/assets/tomorrow-night-bright.css" rel=stylesheet />
    <link rel="shortcut icon" href="http://a.tbcdn.cn/s/kissy/favicon.ico">
</head>

<body class="">
    <nav id="sidebar">
        <header>
            <a href="/">
                <img src="http://gtms01.alicdn.com/tps/i1/T1MVbxFoRcXXchhRni-175-68.png" alt=""/>
            </a>
        </header>
        <ul>
            <li><a href="https://github.com/kissyteam/kissy">GitHub</a></li>
            <li><a href="/1.4/docs/html/guideline/why-kissy.html">为什么选择kissy</a></li>
            <li><a href="/1.4/docs/html/guideline/get-started.html">入门指南</a></li>
            <li><a href="/1.4/docs/html/api/">API Doc</a></li>
            <li class="nav-divider"><a href="/1.4/docs/html/coms.html">组件列表</a></li>
            <li><a href="http://kissy.alibaba.net/">文档 (内网)</a></li>
            <li><a href="http://kpm.taobao.net">kpm (内网)</a></li>
            <li class="nav-divider"><a href="http://mui.tmall.net/">mui (内网)</a></li>
            <li><a href="https://github.com/minghe/generator-bee/wiki/generator-bee%E4%BD%BF%E7%94%A8%E6%95%99%E7%A8%8B">bee 项目构建器</a></li>
            <li><a href="http://def.taobao.net/?doc/#def-xcake">XCake(内网) 项目构建器</a></li>
            <li class="nav-divider"><a href="https://www.npmjs.com/package/gulp-kmc">gulp-kmc</a></li>
            <li><a href="/index-1.3.html">v1.3</a></li>
            <li><a href="/index-1.2.html">v1.2</a></li>
            <li><a href="/index-1.1.6.html">v1.1.6</a></li>
        </ul>
    </nav>

  <div id="content">
    <article>
	    <%=content%>
          <style>
            .github-btn {
                border: 0 none;
                overflow: hidden;
                margin-top:4px;
            }
            footer {
                border-top:1px solid #e2e2e2;
                padding-top:20px;
                clear:both;
            }
            /* iPhone 及以下 */
            @media only screen and (max-width: 767px) {
                .github-link {
                    display:none;
                }
            }
          </style>
    </article>
  </div>
  <script>
	var S = KISSY;
	(function(){
		S.use('node',function(S){
			S.all('code').each(function(node){
				var className = node.attr('class');
				if(/^lang-/.test(className)){
					var tc = className.replace(/^lang-/,'');
					node.replaceClass(className,tc);
				}
			});
			hljs.tabReplace = '    ';
			hljs.initHighlighting();
		});
	})();
	(function(){
		var h3s = document.getElementsByTagName('h3');
		for(var i = 0;i<h3s.length;i++){
			var str = S.trim(h3s[i].innerHTML);
			try{
				str = str.match(/\w+/)[0];
			}catch(e){
				continue;
			}
			h3s[i].innerHTML = '<a name="'+str+'"></a>' + h3s[i].innerHTML;
		}
	})();
  </script>
</body>
</html>
