body{
    padding:5px;
}
.shop-hesper {
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.shop-hesper .hesper-cats {
    background-color: #FCFCFC;
    border: 1px solid #E5E5E5;
    padding-bottom: 45px;
}

.shop-hesper .hesper-cats ol {
    border-bottom: 1px solid #F0F0F0;
    height: 25px;
    padding-left: 12px;
}

.shop-hesper .hesper-cats ol li {
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}

.shop-hesper .hesper-cats li {
    float: left;
}

.shop-hesper .hesper-cats ol a {
    float: left;
    margin-right: 0.5em;
}

.shop-hesper .hesper-cats ul {
    padding: 10px 10px 0 20px;
}
.shop-hesper .hesper-cats i {
    background: url("http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png") no-repeat scroll 0 0 transparent;
    background-position: -54px -56px;
    height: 25px;
    width: 21px;

    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}


.shop-hesper .hesper-cats .trigger {
    background: url("http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png") no-repeat scroll 0 0 transparent;
    background-position: 0 -56px;
    cursor: pointer;
    height: 27px;
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    z-index: 1;
}


.shop-hesper .hesper-cats .collapse {
    background-position: -27px -56px;
}
