 body{
    padding:5px;
}
 #accordion1 {
    width: 300px;
    border: 1px solid #ccc;
}

#accordion1 .ks-switchable-trigger {
    padding: 3px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background: #f3f3f3;
    overflow: hidden;
    height: 18px;
}

#accordion1 .ks-switchable-trigger h3 {
    float: left;
    width: 100px;
    margin-left: 5px;
}

#accordion1 .ks-switchable-panel {
    height: 80px;
    padding: 3px 10px;
    border-bottom: 1px solid #ddd;
}

#accordion1 .ks-icon {
    float: left;
    width: 12px;
    height: 12px;
    overflow: hidden;
    margin-top: 2px;
    font-size: 0;
    vertical-align: middle;
    background: url(accordion-sprite.png) no-repeat 0 0;
}

#accordion1 .ks-active .ks-icon {
    background-position: -20px 0;
}

#accordion1 .last-trigger {
    border-bottom-width: 0
}

#accordion1 .ks-active {
    border-bottom-width: 1px
}

#accordion1 .last-panel {
    border-bottom: none
}