body {
    color: #444;
    padding: 0 10px ;
}
p.rubric {
    margin-top: 30px;
    font-weight: bold;
}

.align-left {
    text-align: left;
}

.align-center {
    clear: both;
    text-align: center;
}

.align-right {
    text-align: right;
}


/* -- topics ---------------------------------------------------------------- */

div.topic {
    border: 1px solid #ccc;
    padding: 7px 7px 0 7px;
    margin: 10px 0 10px 0;
}

p.topic-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

/* -- admonitions ----------------------------------------------------------- */

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

div.admonition dt {
    font-weight: bold;
}

p.admonition-title {
    margin: 0 10px 5px 0;
    font-weight: bold;
}

/* -- tables ---------------------------------------------------------------- */

table.docutils {
    border: 0;
    border-collapse: collapse;
}

table.docutils td, table.docutils th {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
}

table.field-list td, table.field-list th {
    border: 0 !important;
}

table .field-body{padding-left:20px;}

table.footnote td, table.footnote th {
    border: 0 !important;
}

th {
    text-align: left;
    padding-right: 5px;
}

table.citation {
    border-left: solid 1px gray;
    margin-left: 1px;
}

table.citation td {
    border-bottom: none;
}

/* -- other body styles ----------------------------------------------------- */

ul ul {
    margin-left: 20px;
}
ol.arabic {
    list-style: decimal inside none;
}

ol.loweralpha {
    list-style: lower-alpha;
}

ol.upperalpha {
    list-style: upper-alpha;
}

ol.lowerroman {
    list-style: lower-roman;
}

ol.upperroman {
    list-style: upper-roman;
}


dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

dt:target, .highlighted {
    background-color: #fffcdb;
}

.refcount {
    color: #060;
}

.optional {
    font-weight: bold;
}

.system-message {
    background-color: #fda;
    padding: 5px;
    border: 3px solid red;
}

.footnote:target {
    background-color: #ffa
}

.line-block {
    display: block;
}

.line-block .line-block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

.guilabel, .menuselection {
    font-family: sans-serif;
}

.accelerator {
    text-decoration: underline;
}

.classifier {
    font-style: oblique;
}

/* -- code displays --------------------------------------------------------- */

pre {
    overflow: auto;
}

td.linenos pre {
    padding: 5px 0;
    border: 0;
    background-color: transparent;
    color: #aaa;
}

table.highlighttable {
    margin-left: 0.5em;
}

table.highlighttable td {
    padding: 0 0.5em 0 0.5em;
}

.viewcode-link {
    float: right;
}

.viewcode-back {
    float: right;
    font-family: sans-serif;
}

div.viewcode-block:target {
    margin: -1px -10px;
    padding: 0 10px;
}

/* general styles */
a:link, a:visited{color:#00a0e9;}
a:hover, a:active{color:#f60;}

a.headerlink {
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}



/* -- body styles ----------------------------------------------------------- */
/*h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}*/
h1, h2, h3 {
    padding: 8px 0;
    font-family: tahoma, "Microsoft YaHei", sans-serif;
    font-size:18px;
}
.main-wrap h1{display:none;}
.main-wrap h1+*{margin-top:15px;}
h3{font-size:16px;font-weight:bold;}
h4{font-size:14px;font-weight:bold;}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa !important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

.col-sub h2.s-box-hd{color:#888;}

a.headerlink {
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none !important;
}

a.headerlink:hover {
    background-color: #ccc;
    color: white;
}

hr {
    border: 1px solid #ccc;
    margin: 10px 0;
}


pre {
    font: 14px/1.5 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    padding: 10px;
    background: #F8F8F6;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

table.highlighttable {
    width: 100%;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #d1d1d1;
    background-color: #f8f8f6;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.2em 0 0.2em 0.5em;
    border-bottom: 1px solid #d1d1d1;
    font-weight: bold;
    background-color: #eee;
}

div.warning {
    border: 1px solid #660000;
}

div.warning p.admonition-title {
    background-color: #ff6600;
    border-bottom-color: #660000;
    color: white;
}


div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 6px 0 6px 20px;
    padding: 0;
}

div.attention {
    border: 1px solid #0066cc;
}
div.attention p.admonition-title {
    background-color: #4da9ff;
    border-bottom-color: #0066cc;
    color: white;
}

div.caution {
    border: 1px solid #5d0880;
}
div.caution p.admonition-title {
    background-color: #a464e0;
    border-bottom-color: #5d0880;
    color: white;
}

div.danger {
    border: 1px solid #930127;
}
div.danger p.admonition-title {
    background-color: #fe779a;
    border-bottom-color: #930127;
    color: white;
}
div.important {
    border: 1px solid #1a6303;
}
div.important p.admonition-title {
    background-color: #5b983b;
    border-bottom-color: #1a6303;
    color: white;
}
div.hint {
    border: 1px solid #7ba30f;
}
div.hint p.admonition-title {
    background-color: #d2ea93;
    border-bottom-color: #7ba30f;
}

div.error {
    border: 1px solid #ab013a;
}
div.error p.admonition-title {
    background-color: #d35b94;
    border-bottom-color: #ab013a;
    color: white;
}

div.tip {
    border: 1px solid #9bd703;
}
div.tip p.admonition-title {
    background-color: #f3faa2;
    border-bottom-color: #9bd703;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}

.viewcode-back {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

div.describ {
    padding: 10px;
    border: 1px solid #d1d1d1;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.demo {
    padding: 10px;
    margin-bottom: 20px;
    background: #F8F8F6;
    border: 1px solid #d1d1d1;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.highlight .c1,
.highlight .cm {
    font-style: normal !important;
}


/*****************************************************************************
 * 复写部分api相关样式
 *****************************************************************************/
.highlight-javascript{margin:10px 0;}

.main-wrap > .section {
    margin-bottom: 8px;
}
.main-wrap > .section > .section > blockquote,
.main-wrap > .section > .section > dl,
.main-wrap > .section > .line-block,
.line-block,
.versionchanged,
.versionadded,
.main-wrap > .section > .section > .toctree-wrapper {
    margin-left: 30px;
}
.main-wrap > .section > .section {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-wrap > .section > .toctree-wrapper {
    margin-top: 20px;
}
.main-wrap > .section > dl {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 16px;
}
.section h1+div.line-block{font-size:12px;}

tt {
    font-family: arial;
}
tt.descclassname, tt.descname {
    color: #9f2a2a;
}

tt.descclassname, tt.descname, tt.xref {
    font-weight: bold;
}

.versionchanged tt{font-weight:normal;}
.versionchanged, .versionadded{margin-top:10px;font-size:12px;color:#80c269;}

.note, div.admonition, div.warning{font-size:12px;}

dl.function{padding-bottom:15px;margin-bottom:15px;border-bottom:1px dotted #ccc;}
dl.function dt{margin-bottom:10px;font-size:14px;}
dl.function dt big{display:none;}
dl.function dd{margin:0 0 0 30px;font-size:12px;}
dl.function dd>.line-block{margin:0 0 10px 0;}
dl.function .versionchanged,
dl.function .versionadded{margin-left:0!important;}

dl.class{padding-bottom:15px;margin-bottom:15px;border-bottom:1px dotted #ccc;}
dl.class dt{margin-bottom:10px;font-size:14px;}
dl.class dt big{display:none;}
dl.class dd{margin:0 0 0 30px;font-size:12px;}
dl.class dd>.line-block{margin:0 0 10px 0;}
dl.class .versionchanged,
dl.class .versionadded{margin-left:0!important;}

dl.attribute{padding-bottom:15px;margin-bottom:15px;border-bottom:1px dotted #ccc;}
dl.attribute dt{margin-bottom:10px;font-size:14px;}
dl.attribute dd{margin:0 0 0 30px;font-size:12px;}
dl.attribute .versionchanged,
dl.attribute .versionadded{margin-left:0!important;}

dl.data{padding-bottom:15px;margin-bottom:15px;border-bottom:1px dotted #ccc;}
dl.data dt{margin-bottom:10px;font-size:14px;}
dl.data dd{margin:0 0 0 30px;font-size:12px;}
dl.data .versionchanged,
dl.data .versionadded{margin-left:0!important;}

dl.method{padding-bottom:15px;margin-bottom:15px;border-bottom:1px dotted #ccc;}
dl.method dt{margin-bottom:10px;font-size:14px;}
dl.method dt big{display:none;}
dl.method dd{margin:0 0 0 30px;font-size:12px;}
dl.method dd>.line-block{margin:0 0 10px 0;}
dl.method .versionchanged,
dl.method .versionadded{margin-left:0!important;}
/*****************************************************************************
 * 布局
 *****************************************************************************/

/** 布局基础样式 **/
.col-main {
    float: left;
    width: 100%;
    /* bug fix: 主栏没有内容时，在 Firefox 和 Chrome 等浏览器下，布局不对 */
    min-height: 1px;
}
.col-sub, .col-extra {
    float: left;
    /*position: relative;  按需设置，仅在需要时添加 */
}

/** 清除浮动 **/
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.layout, .main-wrap, .col-sub, .col-extra {
    *zoom: 1;
}
.grid-s6m0 .main-wrap {
    margin-left: 210px;
    padding-left:10px;
}

.grid-s6m0 .col-sub {
    width: 200px;
    margin-left: -100%;
}

/*****************************************************************************
 * 页头尾
 *****************************************************************************/
#header {overflow:hidden;border-bottom: 1px solid #a4d3f2;color:#888;}
#header .logo{float:left;margin:20px 0 0 0;padding:0;border:none;}
#header .sub-title{float:left;margin:45px 5px 0 5px;font:25px "Microsoft YaHei";color:#aaa;}
#header .desc{float:left;margin-top:50px;margin-left:5px;font-size:14px;}
#header  .navigation {float:right;margin:50px 0 0 0;overflow:hidden;list-style:none;}
#header  .navigation li {float:left;margin-left:-1px;padding: 0 10px;line-height:1em;font-weight:bold;border-left:1px solid #ddd;}

.col-sub{border: 1px solid #a4d3f2;border-top:none;background:#f2f8fa;}

#footer {clear:both;margin-top:20px;padding:30px 0;text-align:center;color:#888;border-top:1px solid #ccc;}
#footer a {color: #888}

 /*****************************************************************************
 * 公共模块
 *****************************************************************************/
/*盒子*/ 
.s-box .s-box-hd h3{margin:0;font:bold 16px "Microsoft YaHei";}
.s-box .s-box-bd{overflow:hidden;}

.col-sub .s-box{margin-left:10px;margin-bottom: 10px;}
.col-sub .s-box .box-hd{color: #444;}



/* 隐藏某些元素 */
.class .property, tt.descclassname {
    display: none;
}

/*navigation - related*/


div.related {
    width: 100%;
    font-size: 90%;
}

div.related h3 {
    display: none;
}

div.related ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

div.related li {
    display: inline;
}

div.related li.right {
    float: right;
    margin-right: 5px;
}

div.related {
    font-size: 1em;
}

div.related ul {
    margin-top:3px;
    padding:0;
    height: 2em;
    border-bottom: 1px dotted #ccc;
    list-style:none;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
    list-style:none;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: #80c269;
}

div.related ul li a:hover {
    color: #f60;
}


/*left menu donot wrap*/
.col-sub li{
    white-space:nowrap;
}