.ks-tree-children {
	padding-left: 19px;
}
.ks-tree-lchildren {
	padding-left: 19px;
}
.ks-tree-item-selected .ks-tree-item-label {
	background: buttonface;
	color: buttontext;
}
.ks-tree-item-focused {
	outline: none;
}
.ks-tree-item-focused .ks-tree-item-selected .ks-tree-item-label {
	background: highlight;
	color: highlighttext;
}
.ks-tree-item-checked0 {
	background: url(../assets/check0.gif) 0 -2px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.ks-tree-item-checked1 {
	background: url(../assets/check1.gif) 0 -2px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.ks-tree-item-checked2 {
	background: url(../assets/check2.gif) 0 -2px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
