.ks-resize-handler {
    position: absolute;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    z-index: 1;
}
.ks-resize-handler-t,.ks-resize-handler-b,  .ks-resize-handler-r, .ks-resize-handler-l {
    opacity: 0.6;
    filter: alpha(opacity = 60);
    background-color: #F19EC2;
}
.ks-resize-handler-t,.ks-resize-handler-b {
    left: 0;
    height: 5px;
    width: 100%;
    cursor: n-resize;
}
.ks-resize-handler-b {
    bottom: 0;
}

.ks-resize-handler-t {
    top: 0;
}
.ks-resize-handler-r, .ks-resize-handler-l {
    top: 0;
    height: 100%;
    -height: expression(this.parentNode.offsetHeight);
    width: 5px;
    cursor: e-resize;
}
.ks-resize-handler-l {
    left: 0;
}

.ks-resize-handler-r {
    right: 0;
}

.ks-resize-handler-bl, .ks-resize-handler-br, .ks-resize-handler-tl, .ks-resize-handler-tr {
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid #535353;
    background-color: #E4007F;
    z-index: 2;
}
.ks-resize-handler-bl {
    left: -3px;
    bottom: -3px;
    cursor: sw-resize;
}

.ks-resize-handler-br {
    right: -3px;
    bottom: -3px;
    cursor: nw-resize;
}

.ks-resize-handler-tl {
    left: -3px;
    top: -3px;
    cursor: nw-resize;
}

.ks-resize-handler-tr {
    right: -3px;
    top: -3px;
    cursor: sw-resize;
}

.select-box {
    position: relative;
    width: 300px;
    height: 150px;
    border: 1px solid gray;
    background: white;
    cursor: auto;
}

.select-box .content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}


/* 不同的颜色 */

.color9 {
    border-color: #E4007F;

    background: #E4007F;
    background: -moz-linear-gradient(top, #fc46ab 0%, #E4007F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc46ab), color-stop(100%, #E4007F));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fc46ab', endColorstr = '#E4007F', GradientType = 0);
}
.color8 {
    border-color: #B7AA00;

    background: #B7AA00;
    background: -moz-linear-gradient(top, #e5d727 0%, #B7AA00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5d727), color-stop(100%, #B7AA00));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5d727', endColorstr = '#B7AA00', GradientType = 0);
}
.color0 {
    border-color: #22AC38;

    background: #22AC38;
    background: -moz-linear-gradient(top, #4dd463 0%, #22AC38 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4dd463), color-stop(100%, #22AC38));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4dd463', endColorstr = '#22AC38', GradientType = 0);
}
.color3 {
    border-color: #00A0E9;

    background: #00A0E9;
    background: -moz-linear-gradient(top, #3bc2ff 0%, #00A0E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bc2ff), color-stop(100%, #00A0E9));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3bc2ff', endColorstr = '#00A0E9', GradientType = 0);
}
.color1 {
    border-color: #601986;

    background: #601986;
    background: -moz-linear-gradient(top, #8e44b6 0%, #601986 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e44b6), color-stop(100%, #601986));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#8e44b6', endColorstr = '#601986', GradientType = 0);
}
.color7 {
    border-color: #F19EC2;

    background: #F19EC2;
    background: -moz-linear-gradient(top, #ffcbe2 0%, #F19EC2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcbe2), color-stop(100%, #F19EC2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffcbe2', endColorstr = '#F19EC2', GradientType = 0);
}
.color2 {
    border-color: #F2E600;

    background: #F2E600;
    background: -moz-linear-gradient(top, #fff650 0%, #F2E600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff650), color-stop(100%, #F2E600));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fff650', endColorstr = '#F2E600', GradientType = 0);
}
.color4 {
    border-color: #B3D465;

    background: #B3D465;
    background: -moz-linear-gradient(top, #d8f19d 0%, #B3D465 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8f19d), color-stop(100%, #B3D465));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d8f19d', endColorstr = '#B3D465', GradientType = 0);
}
.color5 {
    border-color: #7ECEF4;

    background: #7ECEF4;
    background: -moz-linear-gradient(top, #c1ebff 0%, #7ECEF4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1ebff), color-stop(100%, #7ECEF4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c1ebff', endColorstr = '#7ECEF4', GradientType = 0);
}
.color6 {
    border-color: #AA89BD;

    background: #AA89BD;
    background: -moz-linear-gradient(top, #e7d4f3 0%, #AA89BD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7d4f3), color-stop(100%, #AA89BD));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e7d4f3', endColorstr = '#AA89BD', GradientType = 0);
}