.goog-tree-children {
	padding-left: 19px;
}
.goog-tree-lchildren {
	padding-left: 19px;
}
.goog-tree-item-selected .goog-tree-item-label {
	background: buttonface;
	color: buttontext;
}
.goog-tree-item-focused {
	outline: none;
	
}
.goog-tree-item-focused .goog-tree-item-selected .goog-tree-item-label {
	background: highlight;
	color: highlighttext;
}