 #slideFocus {
            border: 1px solid #C2C2C2;
            height: 284px;
            width: 678px;
            overflow: hidden;
            position:relative;
            left:5px;
            top:5px;
        }

        #slideFocus .h {
            background: #f3f3f3;
            padding: 3px 0 7px 12px;
        }

        #slideFocus .c {
            padding: 9px 10px 0;
        }

        #slideFocus .pic {
            width: 379px;
            height: 233px;
            overflow: hidden;
            float: left;
        }

        #slideFocus .txt {
            width: 270px;
            float: right;
        }

        #slideFocus .desc-list h4 a {
            font-size: 14px;
            line-height: 25px;
            color: #f60;
        }

        #slideFocus .desc-list p {
            height: 55px;
            line-height: 18px;
            color: #666;
            overflow: hidden;
            margin: 10px 0;
        }

        #slideFocus .thumbs-list li {
            float: left;
            height: 62px;
            width: 84px;
            padding: 2px;
            margin: 1px;
            display: inline !important;
        }

        #slideFocus .thumbs-list li.current {
            background-color: #f60;
        }