body{padding-left:10px;}
      
      .scroll-news {
            height: 20px;
            overflow: hidden;
            margin-top:10px;
;        }

        .scroll-news a {
            color: #FF7E00;
            font-size: 15px
        }