/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.SubMenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-submenu-arrow {
    color: #000;
    left: auto;
    padding-right: 6px;
    position: absolute;
    right: 6px;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    background: url(http://img01.taobaocdn.com/tps/i1/T1FKX8XjByXXXXXXXX-16-16.png) 90% center no-repeat;

}

/* State: disabled. */
.goog-menuitem-disabled .goog-submenu-arrow {
  color: #ccc;
}


.goog-submenu {
    position: relative;
}