 #demo4 {
            position: relative;
            width: 515px;
            height: 220px;
            border: 1px solid #D3D2D2;
            padding: 1px;
            overflow: hidden;
            left:5px;
            top:5px;
        }

        #demo4 .yslider-stick {
            position: absolute;
            top: 0;
            right: 0;
            width: 106px;
            font-size: 14px;
            background: #fff;
            margin: 1px;
            z-index: 99;
        }

        #demo4 .yslider-stick li {
            border-bottom: 1px solid #EDEDED;
        }

        #demo4 .yslider-stick li a {
            display: block;
            text-indent: 15px;
            padding: 8px 5px;
            color: #666;
        }

        #demo4 .yslider-stick li.selected {
            background-color: #C8282B;
        }

        #demo4 .yslider-stick li.selected a {
            color: #fff;
            border-left: 3px solid #B30024;
        }

        #demo4 .yslider-stage {
            height: 220px;
            width: 405px;
        }