    #J_Slide {
    position: relative;
    width: 470px;
        height: 150px;
        border: 1px solid #B6D1E6;
        overflow: hidden;
    }

    #J_Slide .ks-switchable-nav {
        position: absolute;
        bottom: 5px;
        right: 5px;
        z-index: 99;
    }

    #J_Slide .ks-switchable-nav li {
        float: left;
        width: 16px;
        height: 16px;
        line-height: 16px;
        margin-left: 3px;
        background-color: #FCF2CF;
        border: 1px solid #F47500;
        color: #D94B01;
        text-align: center;
        cursor: pointer;
        list-style: none;
    }

    #J_Slide .ks-switchable-nav li.ks-active {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin-top: -1px;
        color: #FFF;
        background-color: #FFB442;
        font-weight: bold;
    }

    #J_Slide .ks-switchable-content {
        margin: 0;
        padding: 0;
    }
    #J_Slide .ks-switchable-content li {
        height: 150px;
        width: 470px;
        overflow: hidden;
        margin: 0;
    }

    #J_Slide .ks-switchable-nav li,
    #J_Slide .ks-switchable-trigger-content {
        position: relative;
    }

    #J_Slide .ks-switchable-trigger-mask {
        position: absolute;
        right: 0;
        width: 18px;
        height: 18px;
        background-color: #FF9415;
        visibility: hidden
    }

    #J_Slide .ks-active .ks-switchable-trigger-mask {
        visibility: visible
    }

    .list li {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        list-style-type: circle;
    }