/* 定义被拖动的对象样式 */
.box{margin-bottom:10px;}
.box .box-hd{position:relative;height:27px;padding:0 10px;border:1px solid #bad6ff;border-bottom:none;background:#e5efff url(bg-repeatx.png) repeat-x 0 -10px;}
.box .box-hd i{float:left;width:16px;height:16px;margin:5px 4px 0 0;}
.box .box-hd h3{float:left;line-height:26px;}
.box .box-act{float:right;margin-top:5px;}
.box .box-act a{float:right;margin-left:6px;line-height:16px;}
.box .box-bd{padding:10px;border:1px solid #bad6ff;background:#D9EBF5;height:40px;}

.box .box-tp,
.box .box-bt{display:block;position:relative;height:4px;overflow:hidden;margin:0 0 -4px 0;z-index:10;}
.box .box-bt{margin:-4px 0 0 0;}
.box .box-tp b,
.box .box-bt b{display:block;float:right;width:4px;height:4px;overflow:hidden;}
.box .box-tp,
.box .box-tp b,
.box .box-bt,
.box .box-bt b{background:url(bg-repeatx.png) no-repeat -3px 0;}
.box .box-tp b{background-position:0 0;}
.box .box-bt{background-position:-3px -3px;}
.box .box-bt b{background-position:0 -3px;}