body {
	padding: 90px 0px 0px 15px;
}
.popup {
	position: absolute;
	z-index: 50;
	border-collapse: collapse;
	visibility: hidden;
}
.popup td.corner {
	height: 15px;
	width: 19px;
}
.popup td#topleft {
	background-image: url(bubble-1.png);
}
.popup td.top {
	background-image: url(bubble-2.png);
}
.popup td#topright {
	background-image: url(bubble-3.png);
}
.popup td.left {
	background-image: url(bubble-4.png);
}
.popup td.right {
	background-image: url(bubble-5.png);
}
.popup td#bottomleft {
	background-image: url(bubble-6.png);
}
.popup td.bottom {
	background-image: url(bubble-7.png);
	text-align: center;
}
.popup td.bottom img {
	display: block;
	margin: 0 auto;
}
.popup td#bottomright {
	background-image: url(bubble-8.png);
}
.popup table.popup-contents {
	font-size: 12px;
	line-height: 1.2em;
	background-color: #fff;
	color: #666;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
table.popup-contents th {
	text-align: right;
	text-transform: lowercase;
}
table.popup-contents td {
	text-align: left;
}
tr#release-notes th {
	text-align: left;
	text-indent: -9999px;
	background: url(starburst.gif) no-repeat top right;
	height: 17px;
}
tr#release-notes td a {
	color: #333;
}
