    h1 {
        font-size: 14px;
    }
    a {
        color: #0377a4;
    }
    #content .layout {
        float: left;
        padding: 0 3px;
    }
    .widget #content .layout {
        width: 625px;
    }
    .core #content .layout {
        width: 309px;
    }
    #content .layout h2 {
        color: white;
        padding-left: 20px;
    }
    #header, #footer {
        text-align: center;
        clear:both;
    }
    #content {
        clear: both;
        position: relative;
    }
    .api dd {
        display: none;
        padding-left: 20px;
    }
    .api dt {
        position: relative;
        padding: 2px 2px 2px 12px;
    }
    .api dt strong {
        padding-right: 6px;
    }
    .api dt span {
        display: none;
    }
    .api dd pre {
        padding-left: 20px;
        padding-bottom: 6px;
    }
    .api dd h3 {
        color: #666;
    }
    .widget .api dd h3 {
        padding: 2px 0 2px 20px;
        background: #cdcdcc;
    }
    .widget .api dd {
        padding-left: 0;
    }
    #ks-more.api dd {
        padding-left: 20px;
    }
    #ks-member dt {
        background: #ffeff8;
    }
    #ks-OOP dt {
        background: #e2fbe2;
    }
    #ks-module dt {
        background: #fbf5e2;
    }
    #ks-function dt {
        background: #dcf0ce;
    }
    #ks-other dt {
        background: #d1d3f8;
    }
    #ks-lang dt {
        background: #e2fbe2;
    }
    #ks-ua dt {
        background: #cee1f0;
    }
    #ks-dom dt {
        background: #E3EBF1;
    }
    #ks-event dt  {
        background: #fbf5e2;
    }
    #ks-jsco dt  {
        background: #ffeff8;
    }
    #ks-ajax dt  {
        background: #fbf5e2;
    }
    #ks-datalazyload dt  {
        background: #E3EBF1;
    }
    #ks-switchable dt  {
        background: #fbf5e2;
    }
    #ks-suggest dt  {
        background: #E3EBF1;
    }
    #ks-draggable dt  {
        background: #fbf5e2;
    }
    #ks-uibase dt  {
        background: #fbf4e2;
    }
    #ks-more dt  {
        background: #e2fbe8;
    }
    #ks-anim dt  {
        background: #ffeff8;
    }
    .api dt .J_toggle {
        position: absolute;
        padding: 0 2px;
        left: 0;
        top: 0;
    }
    #J_toggle {
        position: absolute;
        right: 10px;
        top: -20px;
    }

    .split {
        height: 1px;
        border-bottom: 8px dashed #ffff99;
        margin: 10px 0;
    }

    dl.ks-seed {
        border: 4px solid #4d5865;
        border-top-width: 20px;
        margin-top: -18px;
    }
    dl.ks-core {
        border: 4px solid #666666;
        border-top-width: 20px;
        margin-top: -18px;
    }
    dl.ks-widget {
        border: 4px solid #7d5a42;
        border-top-width: 20px;
        margin-top: -18px;
    }
