    h1 {
        font-size: 14px;
    }
    a {
        color: #0377a4;
    }
    #content .layout {
        float: left;
        margin: 0 6px;
    }
    .widget #content .layout {
        width: 612px;
    }
    .core #content .layout {
        width: 300px;
    }
    #content .layout h2 {
        color: white;
        background: #394054;
        padding-left: 20px;
    }
    #header, #footer {
        text-align: center;
    }
    #content {
        clear: both;
        position: relative;
    }
    .api dd {
        display: none;
        padding-left: 20px;
    }
    .api {
        margin-bottom: 10px;
    }
    .api dt {
        position: relative;
        padding: 2px 2px 2px 12px;
    }
    .api dd pre {
        margin-left: 20px;
        margin-bottom: 6px;
    }
    .api dd h3 {
        color: #666;
    }
    .widget .api dd {
        background: #C0CFCB;
        padding-bottom: 20px;
        padding-right: 20px;
    }
    .widget .api dd h3 {
        background: #c0cfcb;
        padding: 2px 0;
    }
    .widget .api dd pre {
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 20px;
        background: white;
    }
    #ks-member dt {
        background: #fbe2eb;
    }
    #ks-OOP dt {
        background: #fbe9e2;
    }
    #ks-module dt {
        background: #fbf5e2;
    }
    #ks-function dt {
        background: #dcf0ce;
    }
    #ks-other dt {
        background: #d1d3f8;
    }
    #ks-lang dt {
        background: #e2fbe2;
    }
    #ks-ua dt {
        background: #cee1f0;
    }
    #ks-dom dt {
        background: #E3EBF1;
    }
    #ks-event dt  {
        background: #e2e4fb;
    }
    #ks-jsco dt  {
        background: #ebe2fb;
    }
    #ks-ajax dt  {
        background: #e3d7bd;
    }
    #ks-datalazyload dt  {
        background: #fbe2f7;
    }
    #ks-switchable dt  {
        background: #fbe2ec;
    }
    #ks-suggest dt  {
        background: #d7d9d8;
    }
    #ks-draggable dt  {
        background: #e2fbd4;
    }
    #ks-uibase dt  {
        background: #fbf4e2;
    }
    #ks-more dt  {
        background: #e2fbe8;
    }
    .api dt .J_toggle {
        position: absolute;
        padding: 0 2px;
        left: 0;
        top: 0;
    }
    #J_toggle {
        position: absolute;
        right: 10px;
        top: -20px;
    }