<!doctype html>
{#
kissy/layout.html
~~~~~~~~~~~~~~~~~
#}

{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool) and
(sidebars != []) %}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- macro sidebar() %}
{%- if render_sidebar %}
	<div class="col-sub">
        {%- if sidebars != None %}
			{%- for sidebartemplate in sidebars %}
				{%- include sidebartemplate %}
			{%- endfor %}
        {%- else %}
			{%- include "globaltoc.html" %}
        {%- endif %}
    </div>
{%- endif %}
{%- endmacro %}
<html>
<head>
<meta charset="{{ encoding }}"/>
{{ metatags }}
{%- if not embedded and docstitle %}
{%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
{%- set titlesuffix = "" %}
{%- endif %}
{%- block htmltitle %}
<title>{{ title|striptags|e }}{{ titlesuffix }}</title>
{%- endblock %}

<link rel="stylesheet" href="{{ pathto('_static/reset.css', 1) }}"/>
<link rel="stylesheet" href="{{ pathto('_static/kissy.css', 1) }}"/>
<link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}"/>
<link rel="shortcut icon" href="{{ pathto('_static/favicon.ico', 1) }}"/>
<script>
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '{{ url_root }}',
        VERSION:     '{{ release|e }}',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
        HAS_SOURCE: {{ has_source | lower }}
    };
    if(window.location.href.indexOf("localhost/kissy_git/")!=-1){  
        document.write('<script src="http://localhost/kissy_git/kissy/build/kissy.js"'+'><'+'/script>');
    } else{
        document.write('<script src="http://yiminghe.github.com/kissy/build/kissy.js"'+'>'+'<'+'/script>');
    }
</script>

{%- block extrahead %} {% endblock %}
</head>
<body>
{%- block header %}
{%- include "header.html" %}
{% endblock %}


{%- block content %}
<div id="content">
    {%- include "related.html" %}
	<div  class="layout grid-s6m0">
		{%- block document %}
			<div class="col-main">
				<div class="main-wrap">
					{% block body %} {% endblock %}
					
					<div class="s-box relative-links">
						<div class="s-box-bd">
							{%- if prev %}
                            <a href="{{ prev.link|e }}" title="{{ prev.title|striptags|e }}"> 上一页 </a> |
                            {%- endif %}
            
                            {%- if parents %}
                            <a href="{{ parents[-1].link|e }}" title="{{ parents[-1].title|striptags|e }}">回到上层</a> |
                            {%- endif %}
            
                            {%- if next %}
                            <a href="{{ next.link|e }}" title="{{ next.title|striptags|e }}"> 下一页 </a>
                            {%- endif %}
						</div>
					</div>
					
					{% include "search.html" %}
				</div>
			</div>
		{%- endblock %}
		{%- block sidebar1 %}{{ sidebar() }}{% endblock %}
	</div>
</div>
{%- endblock %}

{%- block footer %}
<div id="footer">
    &copy; Copyright 2010~2011, KISSY Team. Created using <a href="http://sphinx.pocoo.org/">Sphinx</a>
</div>
{%- endblock %}
</body>
</html>