body{
  background: url(../img/body-bg.jpg) 0 0 repeat;
}

/*#sidebar .panel a:visited{
  color:#6D93E4;
}*/
#main-content p{
  padding: 15px 0;
}
h1{
  margin: 30px 0;
  font-size: 24px;
  font-weight: bold;
}
#main-content .ks-tabs{
  height: 800px;
}
#main-content .ks-tabs-body{
  height: 100%;
}
#main-content .ks-tabs-panel{
  height: 100%;
}
#main-content .editor{
  width: 100%;
  height: 100%;
  font-size: 14px;
}
#main-content .output{
  width: 100%;
  height: 100%;
}
.header{
  padding-top: 20px;
  background: #EDEDED;
}
.logo{
  float: left;
}
.logo img{
  width: 120px;
  height: 45px;
}
.search{
  float: right;
  width: 400px;
}
#header-toolbar{
  clear: both;
  padding-top: 15px;
}
h2{
  color: #30418C;
  font-size: 20px;
  font-weight: bold;
}
h3{
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
h4{
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
#guides-lists,#demos-lists{
  min-height: 300px;
  margin-top: 30px;
  padding-left: 15px;
}
#sidebar{
  margin-top: 100px;
}
#sidebar a.link-apidocs{
  width: 100%;
  margin-bottom: 20px;
}

#docs-sidebar .ks-menuitem{
  padding: 0 10px;
}
#sidebar .outline{
  list-style:none;
  margin:0;
  padding:0;
}
#sidebar .outline .level3{
  padding-left:1.5em;
}
#sidebar .outline .level3:before{
  content:"> ";
  color : #80A2E9;
}
#disqus_thread{
  margin-top: 50px;
}

blockquote {
padding: 10px 20px;
margin: 0 0 20px;
border-left: 5px solid #eeeeee;
background-color: #F0F7FD;
}
blockquote p {
font-size: 14.5px;
font-weight: 300;
line-height: 1.25;
}

/**--------------------------------hack style of google search*---------------*/

#gs_tti50{
  line-height: 20px;
}
#___gcse_0 .gsc-control-cse{
  border-color: #EDEDED;
  background-color: #EDEDED;
}
#___gcse_0 .gsc-input-box{
  height: 30px;
}
#___gcse_0 .gsib_a{
  padding: 4px 6px 0;
}
#___gcse_0 .gsc-search-button,#___gcse_0 .gsc-inline-block{
  box-sizing :content-box;
}
#___gcse_0 #gs_cb50{
  padding-top: 3px;
}