body{
  font-size: 14px;
  color: #dcf1ff;
}
/*-----------header-------------*/

.header{
  width: 100%;
  height: 50px;
  text-align: center;
  background: #2a2a2a;
  position: fixed;
  z-index: 9999;
}
.header .inner{
  width: 90%;
  height: 50px;
  min-width: 990px;
  max-width: 1190px;
  margin: 0 auto;
}
.header .toolbar{
  width: 580px;
  height: 50px;
  float: left;
}
.header .search{
  display: inline-block;
  width: 210px;
  height: 25px;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 15px;
  float: right;
}
/*-----google custom search input--------*/
.gsc-search-button{
  display: none;
}
.gsc-control-cse.gsc-control-cse-en{
  padding: 0;
  border: 0;
}
.gsc-search-box.gsc-search-box-tools, form table.gsc-search-box{
  margin: 0;
  padding: 0;
}
.gsib_a input{
  background: none;
}
.gsc-search-box-tools .gsc-search-box td.gsc-input {
  padding: 0;
}
td.gsib_a{
  padding-left: 30px;
  background: url(/5.0/assets/img/search.png) 5px 2px no-repeat;
}
.gs-title{
  text-align: left;
}
div.gsc-selected-option-container{
  padding-right: 65px;
}
#gs_cb50{
  position: relative;
  top: 3px;
}
div.gsc-input-box{
  height: 30px;
}
/*--------google custom search end--------*/

.toolbar .mini-logo, .toolbar .nav{
  margin-top: 18px;
  float: left;
}
.toolbar ul.nav{
  margin: 0 0 0 15px;
}
.toolbar .nav li{
  float: left;
  list-style: none;
  padding: 20px 13px 6px 13px;
  cursor: pointer;
}
.toolbar li.nav-other{
  height: 50px;
  padding: 0px;
}
.toolbar li.nav-other a{
  text-decoration: none;
  padding: 22px 13px 10px 13px;
  display: inline-block;
}
.nav li a{
  text-decoration: none;
}
li.docs, li.more{
  position: relative;
  color: #f5f5f5;
}
li.docs ul, li.more ul{
  width: 100px;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  background: #2a2a2a;
  display: none;
  position: absolute;
  left: 0px;
  top: 45px;
}
.toolbar .nav .docs li, .toolbar .nav .more li{
  padding: 0px;
  width: 100%;
  height: 100%;
}
li.docs ul li:hover, li.more ul li:hover{
  background: #464646;
}
li.docs span, li.more span{
  font-size: 16px;
}
li.docs ul a, li.more ul a{
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
  text-align: left;
  padding: 5px 15px;
}
li.docs:hover ul, li.more:hover ul{
  display: block;
}

.nav-other{
  color: #8cc7f0;
}
.nav-other a{
  color: #8cc7f0;
}
.nav-other:hover{
  background: #575757;
}
.nav-other:hover a{
  color: #fff;
}

.toolbar .nav .split{
  width: 2px;
  height: 20px;
  background: #fff;
  padding: 0;
  margin: 20px 15px 0 15px;
}

/**--------------index page main content---------*/
.main{
  width: 100%;
  min-height: 100%;
  padding-top: 50px;
}
.main .index-page .top-wrap{
  width: 100%;
  height: 359px;
  background: #1c73b2;
  text-align: center;
}
.main .index-page .top-wrap .content{
  display: inline-block;
  width: 1190px;
  height: 359px;
  background: url(../img/content-bg.png) 0px -11px no-repeat;
}
.main .index-page .top-wrap .content img{
  margin-top: 117px;
}
.main .index-page .top-wrap .content p{
  display: inline-block;
  width: 608px;
  font-size: 14px;
  color:#fff;
}

.change-version{
  width: 140px;
  height: 22px;
  display: inline-block;
  margin-top: 40px;
  padding: 0px 5px;
  color: #fff;
  font-size: 13px;
}
#versions{
  background: #175784;
  outline: none;
  border: 0;
  color: #fff;
}

.main .index-page .middle-wrap{
  display: block;
  width: 100%;
  height: 813px;
  background: #bce4ff;
  position: relative;
}
.top-repeat{
  width: 100%;
  height: 26px;
  background: url(../img/triangle.png) repeat-x;
}
.main .index-page .middle-wrap .whatiskissy{
  display: inline-block;
  width: 810px;
  height: 310px;
  padding: 50px 0px 30px 50px;
  background: #49a0df;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -405px;
}
.main .index-page .middle-wrap .whatiskissy h1{
  font-size: 42px;
  color: #fff;
}
.main .index-page .middle-wrap .whatiskissy .short{
  display: inline-block;
  width: 615px;
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: 14px;
  color:#000;
  background: #c6e6f6;
}
.main .index-page .middle-wrap .whatiskissy .long{
  display: inline-block;
  width: 615px;
  height: 20px;
  line-height: 22px;
  margin-bottom: 10px;
  font-size: 14px;
  color:#fff;
}

.main .index-page .middle-wrap .use{
  display: inline-block;
  width: 810px;
  height: 280px;
  background: #ffe4db;
  position: absolute;
  left: 50%;
  margin-left: -405px;
  top: 380px;
}
.main .index-page .use .tip{
  display: inline-block;
  width: 90px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(../img/use5.png);
}
.main .use .center{
  display: inline-block;
  width: 460px;
  height: 191px;
  padding: 11px 16px 11px 0;
  border-right: 1px #ffbba7 solid;
  position: absolute;
  left: 117px;
  top: 37px;
}
.main .use .center div{
  padding-left: 35px;
  margin-bottom: 15px;
}
.main .use .center h4{
  color: #3d3d3d;
  font-size: 14px;
}
.main .use .center p{
  color: #3d3d3d;
}
.main .use .center code, .main .use .center code a{
  font-size: 14px;
  color: #ff6d42;
  text-decoration: none;
}
.main .use .cdn{
  background: url(../img/1.png) no-repeat;
}
.main .use .install{
  background: url(../img/2.png) no-repeat;
}
.main .use .release{
  background: url(../img/3.png) no-repeat;
}
.main .use .release a{
  color: #3d3d3d;
  font-size: 14px;
}

.main .use .right{
  display: inline-block;
  width: 190px;
  height: 178px;
  background: url(../img/join.png) no-repeat;
  position: absolute;
  right: 0px;
  top: 40px;
}
.main .use .right .msg{
  position: absolute;
  bottom: -25px;
}
.main .use .msg a {
  color: #fff;
  background: #ff6d42;
  width: 86px;
  height: 34px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
}


/**------------gallery-----------------*/
.main .gallery{
  width: 100%;
  height: 270px;
  background: #2581c4;
  text-align: center;
}
.main .gallery .wrap{
  width: 900px;
  padding-top: 55px;
  margin: 0 auto;
  background: url(../img/rocket.png) no-repeat 770px 5px;
}
.gallery .wrap .left{
  width: 510px;
  height: 180px;
  float: left;
  border-left: 5px solid #50b2f9;
  position: relative;
}
.gallery .wrap .left .title{
  width: 200px;
  text-align: right;
  padding-top: 26px;
  position: absolute;
  left: 0px;
}
.gallery .left .title h1{
  font-size: 45px;
  font-weight: bold;
  color: #aae0ff;
}
.gallery .left .title a.gallery-addr{
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  text-decoration: none;
}
.gallery .left .title a.gallery-addr:hover{
  text-decoration: underline;
}
.gallery .left .title input{
  width: 150px;
  padding: 2px 0 2px 7px;
  outline: none;
}
.gallery .left .list{
  width: 280px;
  float: right;
}
.gallery .left .list li{
  width: 140px;
  height: 80px;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: left;
  float: left;
  overflow: hidden;
}
.gallery .left .list li a.coms-title{
  font-size: 16px;
  color: #aae0ff;
  text-decoration: none;
}
.gallery .left .list li a.coms-title:hover{
  text-decoration: underline;
}
.gallery .left .list li .content{
  font-size: 12px;
  color: #d4e2f0;
}
.gallery .right{
  width: 270px;
  height: 180px;
  padding-left: 15px;
  margin-left: 50px;
  text-align: left;
  border-left: 5px #ea6f4f solid;
  float: left;
}
.gallery .right p{
  font-size: 14px;
  color: #fff;
}
.gallery .right a{
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  color: #fff;
  text-decoration: underline;
}
.gallery .right h1{
  font-size: 42px;
  color: #fff;
}


/*----------首页页脚 index-page-foot-----------*/
.footer .index-page{
  width: 100%;
  height: 260px;
  background: #bce4ff;
}
.footer .index-page .wrap{
  width: 900px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
.footer .index-page .content{
  position: absolute;
  bottom: 0;
  right: 0px;
}
.footer .index-page .content h1{
  font-size: 42px;
  color: #459ddc;
  text-align: right;
}
.footer .index-page .wrap-content{
  padding-top: 5px;
  border-top: 1px #595959 solid;
}
.footer .index-page .content p{
  display: inline-block;
  width: 450px;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  text-align: right;
  position: relative;
  top: -4px;
  color: #566975;
}
.footer .index-page .github-msg{
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

/**--------logo on main part of quick-start page / guide page etc...--------*/
.main .logo-on-top{
  width: 100%;
  height: 100px;
}
.main .logo-on-top img{
  float: right;
}

/**----------quick-start page-------------*/
.main .quick-start, .main .faq, .main .guides-index, .main .demos-index, .main .guide, .main .demo{
  width: 100%;
  min-height: 400px;
  background: #1c73b2;
}
.main .quick-start .inner, .main .faq .inner, .main .guides-index .inner, .main .guide .inner, .main .demo .inner{
  width: 90%;
  min-width: 990px;
  max-width: 1190px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.main .quick-start h1, .main .faq h1, .main .guide h1, .main .demo h1{
  font-size: 24px;
  color: #fff;
  margin: 20px 0;
}
.main .quick-start h2, .main .faq h2, .main .guide h2, .main .demo h2{
  color: #afe3ff;
  font-size: 20px;
  margin: 20px 0;
}
.main .quick-start h3, .main .faq h3, .main .guide h3, .main .demo h3{
  color: #afe3ff;
  font-size: 18px;
  margin: 10px 0;
}
.main .quick-start p, .main .faq p, .main .guide p, .main .demo p{
  margin: 20px 0;
  font-size: 14px;
  color: #dcf1ff;
}
.main h4{
  margin: 10px 0;
  font-size: 14px;
  color: #dcf1ff;
}
.main a{
  color: #fff;
  text-decoration: underline;
}
.main pre{
  margin-top: 20px;
  border-radius : 4px;
  -webkit-border-radius : 4px;
  -moz-border-radius : 4px;
  -o-border-radius : 4px;
  font-size: 14px;
}

/**------------other pages - footer-------*/
.footer .other-page{
  width: 100%;
  height: 90px;
  padding-top: 20px;
  background: #e1f3ff;
}
.footer .other-page .wrap{
  width: 90%;
  min-width: 990px;
  max-width: 1190px;
  margin: 0 auto;
  position: relative;
}
.footer .other-page .content{
  position: absolute;
  right: 0px;
}
.footer .other-page .content p {
  width: 200px;
  margin-top: 5px;
  padding-top: 12px;
  color: #676f75;
  position: absolute;
  right: 0;
}
.footer .wrap-disqus{
  width: 100%;
  background: #e1f3ff;
}
.footer .wrap-disqus #disqus_thread{
  width: 90%;
  min-width: 990px;
  max-width: 1190px;
  min-height: 400px;
  margin: 0 auto;
  position: relative;
}
.footer .other-page .wrap-content{
  padding-top: 5px;
  border-top: 1px #595959 solid;
}
.footer .other-page .content p{
  display: inline-block;
  width: 450px;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  text-align: right;
  position: relative;
  top: -4px;
}
.footer .other-page .github-msg{
  display: inline-block;
  height: 20px;
  line-height: 20px;
}



/**----------guides-index page-----------*/
.main .guides-index .inner h1{
  color: #fff;
  font-size: 20px;
}
.main .guides-index .inner ul{
  padding: 20px 0 40px 0;
  border-bottom: 1px #fff solid;
}
.main .guides-index .inner ul.modules li{
  width: 200px;
  padding-left: 50px;
  float: left;
}
.main .guides-index .inner ul.modules li a{
  text-decoration: none;
  font-size: 14px;
  color: #cbebff;
}
.main .guides-index .inner ul.modules li a:hover{
  text-decoration: underline;
}


/**-------guide page----------*/
.main #sidebar{
  display: inline-block;
  width: 25%;
  padding-right: 20px;
  float: left;
}
.main #main-content{
  display: inline-block;
  width: 74%;
  padding-left: 20px;
  float: left;
}
.main #main-content ul{
  padding-left: 40px;
  color: #dcf1ff;
  list-style: inherit;
}
.main #main-content ul ul{
  list-style-type: circle;
}
.main #main-content table{
  color: #3b3b3b;
}
.main #sidebar a.link-apidocs{
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  background: #49a0df;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}
.main #sidebar a:hover {
  text-decoration: underline;
  background: #bce4ff;
}
.main #sidebar .panel{
  margin-top: 15px;
}
.main #sidebar .panel-heading{
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  background: #49a0df;
}
.main #sidebar .panel-title{
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.main #sidebar .panel-body{
  width: 100%;
  background: #bce4ff;
  padding: 20px 0 20px 10px;
}
.main #sidebar .panel-body li, .main #sidebar .panel-body p{
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin: 0;
  overflow: hidden;
}
.main #sidebar .panel-body a{
  text-decoration: none;
  color: #3b3b3b;
  font-size: 14px;
}
.main #sidebar .panel-body a:hover{
  text-decoration: underline;
}
.main #sidebar .outline .level3{
  padding-left:1.5em;
}
.main #sidebar .outline .level3:before{
  content:"> ";
  color : #3b3b3b;
}


/**-------------demo page------------------*/
#main-content .ks-tabs{
  height: 800px;
}
#main-content .ks-tabs-body{
  height: 90%;
}
#main-content .ks-tabs-panel{
  height: 100%;
}
#main-content .editor{
  width: 100%;
  height: 100%;
  font-size: 14px;
}
#main-content .output{
  width: 100%;
  height: 100%;
}
.demo #main-content .ks-tabs .ks-tabs-bar .ks-tabs-tab{
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 5px 40px;
  background: #49a0df;
  color: #fff;
  font-size: 16px;
}
.demo #main-content .ks-tabs .ks-tabs-bar .ks-tabs-tab.ks-tabs-tab-selected{
  background: #bce4ff;
  color: #000;
}
.demo .qrcode-wrap{
  background: #bce4ff;
  padding: 30px 0 0 30px;
  position: relative;
}
.demo .qrcode-wrap .content{
  position: absolute;
  left: 315px;
  top: 120px;
}
.demo .qrcode-wrap .content p.title{
  font-size: 30px;
  color: #4e93d8;
}
.demo .qrcode-wrap .content p.qrcode-addr, .demo .qrcode-wrap .content p.qrcode-addr a{
  font-size: 14px;
  color: #3073b5;
}
.demo .output{
  border: 2px #bce4ff solid;
}
/**------------------api docs--------------*/
.main #api-doc {
  width: 100%;
  padding-bottom: 50px;
  background: #1c73b2;
}
#api-doc .inner {
  width: 90%;
  max-width: 1190px;
  min-width: 990px;
  margin: 0 auto;
}
#api-doc .inner .yui3-u-3-4{
  position: relative;
}
.apidocs .param-description p{
  overflow: hidden;
}
#api-doc h1{
  font-size: 24px;
  color: #fff;
}
#api-doc h2{
  font-size: 20px;
  color: #fff;
}
#api-doc h3{
  font-size: 18px;
  color: #dcf1ff;
}
#api-doc h4{
  font-size: 16px;
  color: #dcf1ff;
}
#api-doc h3.name{
  color: #333;
  font-weight: normal;
  padding: 2px 3px;
  background: #f9f9f9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
#api-doc .clearfix{
  padding:0;
  border: 0;
}
#api-doc #docs-main .box{
  background: #f9f9f9;
}
#api-doc #docs-main .box a{
  color: #1c73b2;
  text-decoration: none;
}
#api-doc #docs-main .box a:hover{
  text-decoration: underline;
}
#api-options{
  color: #dcf1ff;
}
#api-doc #docs-main .args{
  color: #fff;
}
#api-doc #docs-main .args-list{
  color: #333;
}
#api-doc #docs-main .args-list code, #api-doc #docs-main .param code{
  color: #333;
  border-radius : 2px;
  -webkit-border-radius : 2px;
  -moz-border-radius : 2px;
  -o-border-radius : 2px;
}
#api-doc #docs-main .params ul{
  color: #fff;
}
#api-doc #docs-main .param a{
  color: #bce4ff;
}
#api-doc #docs-main #classdocs .ks-tabs-bar{

}
#api-doc #docs-main #classdocs .ks-tabs-body{
  padding: 15px;
  border: 10px solid #bce4ff;
}
#classdocs .ks-tabs-bar {
  border: 0;
}
#classdocs .ks-tabs-bar li {
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 10px 25px;
  background: #49a0df;
  color: #fff;
}
#classdocs .ks-tabs-bar li.ks-tabs-tab-selected {
  background: #bce4ff;
  color: #000;
}
#classdocs .ks-tabs-body a {
  color: #bbe4ff;
  text-decoration: none;
}
#classdocs .ks-tabs-body a:hover {
  text-decoration: underline;
}
.apidocs p{
  color:#fff;
}
.apidocs .box.intro p{
  color: #333;
}
span.paren{
  color: #fff;
  font-size: 18px;
}
ul.module-classes{
  list-style: initial;
  color: #fff;
  padding-left: 30px;
}
ul.module-classes li a{
  text-decoration: none;
}
ul.module-classes li a:hover{
  text-decoration: underline;
}

/*-------api docs sidebar------------*/
.main #api-doc .intro ul {
  color: #333;
}
.main #api-doc .item ul{
  color: #fff;
}
pre code {
  color: #333;
  font-size: 14px;
  font-family: courier new,courier,monospace;
}
#api-tabview {
  background: #bce4ff;
}
#api-tabview ul{
  outline: none;
}
#api-tabview ul.ks-tabs-bar li.ks-tabs-tab-selected {
  background: #bce4ff;
  color: #000;
}
#api-tabview ul.ks-tabs-bar li {
  font-size: 14px;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 10px 15px;
  width: 50%;
  color: #fff;
  background: #49a0df;
}
#docs-main .content ul#api-usage {
  color: #fff;
  list-style: initial;
  padding-left: 30px;
}
#docs-main .content ul#api-usage li {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
#api-doc #docs-main .param-description ul li code {
  color: #fff;
}
#api-doc #docs-main .description ul{
  color: #fff;
}
.constructor code {
  font-size: 12px;
}