.ks-imagezoom-wrap {
    position: relative;
    width: 310px;
    height: 310px;
    border: 1px solid gray;
}

.ks-imagezoom-icon {
    display: block;
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: 23px;
    width: 23px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: url(http://img02.taobaocdn.com/tps/i2/T1uJNuXX8tXXXXXXXX-23-23.png) no-repeat scroll left top transparent;
}

.ks-imagezoom-lens {
    background: url(http://img04.taobaocdn.com/tps/i4/T12pdtXaldXXXXXXXX-2-2.png) repeat;
    cursor: move;
}

.ks-imagezoom-viewer {
    border: 1px solid #CCCCCC;
    text-align: center;
}